<html>
	<head>
		<title>The Real Man Page w/ Sinatra</title>
		<link href="/stylesheets/styles.css" rel="stylesheet">
	</head>
	<body>
		<header>
			<a href="/" class="header">Menu | </a>
			<a href="/cp" class="header"> cp | </a>
			<a href="/ls" class="header"> ls | </a>
			<a href="/mkdir" class="header"> mkdir | </a>
			<a href="/touch" class="header"> touch | </a>
			<a href="/mv" class="header"> mv | </a>
			<a href="/search" class="header"> Search | </a>
		</header>

		<%= yield %>

		<footer>
			<a href="/" class="header">Menu | </a>
			<a href="/cp" class="header"> cp | </a>
			<a href="/ls" class="header"> ls | </a>
			<a href="/mkdir" class="header"> mkdir | </a>
			<a href="/touch" class="header"> touch | </a>
			<a href="/mv" class="header"> mv | </a>
			<a href="/search" class="header"> Search | </a>
		</footer>
	</body>
</html>