<h1>Manuals Page Menu</h1>
<hr />
<hr />

<p>If you would like to browse the pages on the site, please click on the pages in either the header or footer.</p>

<br />

<p>Also, my name is Ron and I like to party</p>
<p>Plus, you can use the footer to find stuffs too!</p>

<br />

<p>And now.....DANCE PARTY!!!!!!!!</p>

<hr />
<hr />