<h1> This is the good ole search page.</h1>
<hr />
<hr />
<p>Please type your search into the box and you will search this website for anything you're looking for.</p>

<br />
<p>Also, if you search for something that doesn't exist here, you will be redirected back to this page.</p>


<form action='/search_for' method="POST">
<input type="text" placeholder="type your search here" name="search_term" />
<input type="submit" />
</form>

<hr />
<hr />